---
import Layout from "@layouts/Page.astro";
---

<Layout
	title="About Anton"
	headline="Who is Anton?"
	description="Defining oneself; observing an electron."
	first={new Date("1/13/2024")}
	revisions="2"
	last={new Date("1/18/2024")}
>
	<p>
		I have a collection of journal prompts for which I recursively
		free-write. One prompt is simply: "Who am I?". Hence this about post:
		"Who is Anton?" Sometimes, my entries are obvious and factual (ex. the
		next paragraph). Others are abstract; a memory that frames my
		perspective today.
	</p>

	<p>
		My name is Anton Sebastian Bilbaeno. I was born in San Jose, California
		at the Good Samaritan Hospital in Santa Clara County on January 30th,
		1990 at 6:48 PM to RLH and EVCB.
	</p>

	<p>
		I am named after the Russian author <a href="/books">Anton Chekhov</a>,
		known for short stories which bring the reader to
		<a href="/spoken">discover meaning in seemingly meaningless</a>
		events of everyday life .
	</p>

	<p>
		My life is the integral over time of my immediate environment. Within
		that environment, experiences that I engage in take me in new
		directions... to new environments with new experiences to choose from.
	</p>

	<p>
		To where I will be taken next --- I do not know. All I can and all I
		must do is <a href="https://en.wikipedia.org/wiki/Reflection_Eternal"
			>reflect eternally</a
		> and choose my experiences more wisely over time --- while, of course, leaving
		plenty of room for <u><b><i>new</i></b></u> mistakes.
	</p>

	<p>
		To define myself would be an exercise in futility. Everyone is a work in
		progress. Even someone who you've known your whole life -- it would be
		foolish to say "that's just how they are". Even if it's true most of the
		time... this is a limiting perspective. You'll always learn more when
		assume that you don't know.
	</p>
	<p>
		I <i>try</i> to be a generalist anyway; one a those... polymaths (polymath
		signals more social credential).<br />
		It should be difficult to define me. You shouldn't know where to start. I'm
		not sure.
	</p>
	<p>
		When people ask that question: "So, what do you do?"<br />
		"Oh, you mean for work... or..?"<br />
		Regardless: eyes avert and a smile, follwed by "uhh......"
	</p>
	<p>
		I find that life is most exciting when you can contribute (help,
		participate, play) in multiple dimensions. The intersections are where
		the most interesting (and possibly impactful) work is to be done.
	</p>

	<p>
		<b>Regardless, we tell the story.</b><br />
		Explore the site for a glimpse into the past.
	</p>
</Layout>
