---
import Layout from "@layouts/Page.astro";
---

<Layout
	title="About Anton Bilbaeno"
	headline="Who is Anton?"
	description="Defining oneself is akin to observing an electron."
	modDate={new Date("1/13/2024")}
>
	<p>
		I have a list of recurring journal entries, each of which I occasionally
		revisit. One prompt is simply: "Who am I?" In each entry, I begin a
		free-write. Sometimes, it's obvious and factual (as in the next
		paragraph). Other times, it's abstract or about a memory that resonates
		and still frames my perspective today.
	</p>

	<p>
		My name is Anton Sebastian Bilbaeno. I was born in San Jose, California
		at the Good Samaritan Hospital in Santa Clara County on January 30th,
		1990 at 6:48 PM to a Rebecca Lynne Payne and Emilio Vincent Carmen
		Bilbaeno.
	</p>

	<p>
		I am named after the Russian author <a href="/books">Anton Chekhov</a>,
		known for short stories which bring the reader to discover meaning in
		seemingly meaningless events of everyday life.
	</p>

	<p>
		My life is the integral over time of my immediate environment. Within
		that environment, experiences that I engage in take me in new
		directions... to new environments with new experiences to choose from.
	</p>

	<p>
		To where I will be taken next --- I do not know. All I can and all I
		must do is <a href="https://en.wikipedia.org/wiki/Reflection_Eternal"
			>reflect eternally</a
		> and choose my experiences more wisely over time, while of course, leaving
		plenty of room for <u><b><i>new</i></b></u> mistakes.
	</p>

	<p>
		To define myself would be an exercise in futility. Everyone is a work in
		progress. Even someone who you've known your whole life -- I would argue
		it's foolish to say "that's just how they are". Even if it's true most
		of the time, this is a limiting perspective. You'll learn more if assume
		you don't know.
	</p>
	<p>
		I <i>strive</i> to be a generalist anyway... a polymath. It should be difficult
		to define me. It shouldn't be obvious where to start.
	</p>
	<p>
		When people ask: "So, what do you do?" I usually laugh, followed by an
		"Uhh......"
	</p>
	<p>
		I find that life is most exciting when you can contribute in multiple
		dimensions. The intersections of disciplines are where the most
		interesting work is to be done.
	</p>

	<p>
		<b>But!</b> Explore the rest of this site to learn more about my life experiences
		thus far.
	</p>
</Layout>
