---
import Layout from "@layouts/Page.astro";
---

<Layout
	title="About Anton"
	headline="Who is Anton?"
	description="Defining oneself; observing an electron."
	first={new Date("1/13/2024")}
	revisions="3"
	last={new Date("1/18/2024")}
>
	<p>
		I have a collection of journal prompts for which I recursively
		free-write. One prompt is simply: "Who am I?"... "Who is Anton?"
		Sometimes, my entries are obvious and factual (ex. the next paragraph).
		Others are abstract; a memory that frames a perspective today.
	</p>

	<p>
		My name is Anton Sebastian Bilbaeno. I was born in San Jose, California
		at the Good Samaritan Hospital in Santa Clara County on January 30th,
		1990 at 6:48 PM to RLH and EVCB.
	</p>

	<p>
		I am named after the Russian author Anton Chekhov, known for short
		stories which bring the reader to discover meaning in seemingly
		meaningless events of everyday life.
	</p>

	<p>
		My life is the integral over time of my immediate environment. Within
		that environment, experiences that I engage in take me in new
		directions... to new environments with new experiences to choose from.
	</p>

	<p>
		To where I will be taken next --- I do not know. All I can and all I
		must do is reflect eternally and choose my experiences more wisely over
		time --- while, of course, leaving plenty of room for
		<u><b><i>new</i></b></u> mistakes.
	</p>

	<p>
		To define oneself is like shooting a moving target but aiming at where
		it currently is -- you'll be close but you're going to miss. Everyone is
		a work in progress. Even someone who you've known your whole life -- it
		would be foolish to say "that's just how they are". Even if it's true
		most of the time... this is a limiting perspective. You'll always learn
		more when assuming that you don't know.
	</p>
	<p>
		I <i>try</i> to be a moving target, a generalist, one o' those... polymaths.
		(At least, polymath signals social credential, whereas generalist sounds
		like you're mediocre at a bunch of things.) It should be difficult to define
		me. You shouldn't know where to start. I'm not sure. You are?
	</p>
	<p>
		When people ask <i>that</i> question: "So, what do you do?"<br />
		"Oh, you mean for work... or...?"<br />
		I smile, followed with "Uhh......"
	</p>
	<p>
		I find that life is most exciting when you can contribute, help,
		participate, play in multiple dimensions. The intersections are where
		the most interesting and impactful work is to be done.
	</p>

	<p>
		<b>Regardless, we must try to tell the story.</b><br />
	</p>
</Layout>
